/CMSWebsite/bin/Debug/
/CMSWebsite/obj/
/Reflection/bin/Debug/
/Reflection/bin/Debug/
/Reflection/obj/
/.vs/CMSWebsite/v17/.suo
/.vs/CMSWebsite/v17/.futdcache.v1
/Reflection/bin/Debug/net6.0/Reflection.dll
