@model RazerView
@{
    ViewData["Title"] = "Editor";
}

<style>
    textarea {
        width: 100%;
        min-height: 100px;
        border: 1px solid #CCC;
        box-sizing: border-box;
        padding: 0 0 0 30px;
        resize: vertical;
        line-height: 16px;
        font-size: 13px;
        color: black;
    }

    iframe {
        bottom: 0;
        width: 100%;
        height: 100%;
        border: black;
        background: black;
        position: relative;
    }


    #editorRows {
        margin: 0;
    }

        #editorRows > div {
            padding: 0;
            height: 100%;
        }

    .codeHeader {
        margin: 0;
        padding-left: 20px;
        background-color: black;
    }


    .right-border {
        border-right: 1px solid gray;
    }

    .CodeMirror {
        min-height: 400px;
        height: 100% !important;
    }
    #Result .codeHeader {
        margin-top: 20px;
        background-color: transparent !important;
    }
    #Result {
        padding: 0;
    }
    .codeHeader > .col-6:nth-child(2) {
        padding: 0;
    }

    .codeHeader {
        margin: 0;
        padding: 0;
        background-color: black;
        border-radius: 0.25rem 0.25rem 0 0;
    }

    .codeHeaderText {
        font-size: 1.5rem;
    }

    .btn-hiden {
        padding: .5rem 2rem;
    }

    .codeHeader .btn-hiden {
        visibility: hidden;
    }

    .codeHeader:hover .btn-hiden {
        visibility: visible;
    }

</style>

<head>
    <title>Code Editor</title>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='stylesheet' asp-href-include='/lib/codemirror/codemirror.css' />
    <link href='~/lib/codemirror/theme/3024-night.css' rel='stylesheet' />
</head>
<div class='container-fluid h-100'>
    <form id="viewFor" class="h-100" asp-action='SaveView' method='post'>
        <div class="container">
            <textarea class='d-none' asp-for='Content'> </textarea>

            <div class="form-row">
                <div class="form-group col-sm-6 col-12">
                    <label asp-for='Location'></label>
                    <input class='form-control' type='text' asp-for='Location' />
                </div>
                <div class="form-group col-sm-6 col-12">
                    <label asp-for="Model"></label>
                    <input class="form-control" type="tel" asp-for="Model" />
                </div>
            </div>

        </div>

        <div class='row h-100' id='editorRows'>
            <div class='right-border col-sm-4 col-12' id='HTML'>
                <div class="row codeHeader">
                    <div class="col-6">
                        <div class='codeHeaderText'>HTML</div>
                    </div>
                    <div class="col-6">
                        <button id="tidyHtml" type="button" data-CodeMirror="" class="btn btn-secondary btn-hiden float-right" onclick="autoFormatSelection(this);">Tidy</button>
                    </div>

                </div>
                <textarea asp-for='@Model.HTMLContent'></textarea>
            </div>
            <div class="right-border col-sm-4 col-12" id="CSS">
                <h4 class="codeHeader">CSS</h4>
                <textarea asp-for="@Model.CSSContent"></textarea>
            </div>
            <div class="right-border col-sm-4 col-12" id="JavaScript">
                <h4 class="codeHeader">JavaScript</h4>
                <textarea asp-for="@Model.JSContent"></textarea>
            </div>
        </div>

        <div class="container">
            <div class="form-row">
                <div class="form-group col-2 offset-5">
                    <button type="submit" class="btn btn-block btn-light">Save</button>
                </div>
            </div>
        </div>


    </form>

    <div class="col-12" id="Result">
        <h4 class="codeHeader text-center">Result</h4>
        <hr />
        <iframe id="code" ></iframe>
    </div>
</div>

<script src="~/lib/js-beautify/beautifier.min.js"></script>
<script src="~/lib/codemirror/codemirror.js"></script>
<script src="~/lib/codemirror/mode/css/css.min.js"></script>
<script src="~/lib/codemirror/mode/xml/xml.min.js"></script>
<script src="~/lib/codemirror/addon/edit/closetag.min.js"></script>
<script src="~/lib/codemirror/addon/edit/matchbrackets.min.js"></script>
<script src="~/lib/codemirror/addon/edit/closebrackets.min.js"></script>
<script src="~/lib/codemirror/mode/javascript/javascript.min.js"></script>
<script src="~/lib/codemirror/addon/selection/active-line.min.js"></script>
<script src="~/lib/codemirror/addon/lint/javascript-lint.min.js"></script>
<script src="~/lib/codemirror/addon/lint/css-lint.min.js"></script>
<script src="~/lib/codemirror/addon/lint/html-lint.min.js"></script>
<script>

    var editorHTML = CodeMirror.fromTextArea(document.getElementById("HTMLContent"), {
        lint: true,
        htmlMode: true,
        mode: "text/html",
        lineNumbers: true,
        theme: "3024-night",
        autoCloseTags: true,
        matchBrackets: true,
        viewportMargin: 30 ,
        styleActiveLine: true,
        autoCloseBrackets: true,
        value: "<h1> Welcome </h1>",
        gutters: ["CodeMirror-lint-markers"]
    });

    var editorCSS = CodeMirror.fromTextArea(document.getElementById("CSSContent"), {
        lint: true,
        mode: "text/css",
        lineNumbers: true,
        matchBrackets: true,
        theme: "3024-night",
        styleActiveLine: true,
        autoCloseBrackets: true,
        gutters: ["CodeMirror-lint-markers"]
    });
    var editorJavaScript = CodeMirror.fromTextArea(document.getElementById("JSContent"), {
        lint: true,
        mode: "javascript",
        lineNumbers: true,
        matchBrackets: true,
        theme: "3024-night",
        styleActiveLine: true,
        autoCloseBrackets: true,
        gutters: ["CodeMirror-lint-markers"]
    });
    editorCSS.refresh();
    editorHTML.refresh();
    editorJavaScript.refresh();
    // */
    /*
    editorHTML.on("keyup", documentChanges);
    editorCSS.on("change", documentChanges);
    editorJavaScript.on("change", documentChanges);
    // */
    $(document).ready(function () {
        $("#code").on("load", function () {
            var head = $("#code").contents().find("head");

            var bootstrapcss = '<link rel="stylesheet" href="/lib/twitter-bootstrap/css/bootstrap_dark.min.css">';
            var fontawesome = '<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">';
            var jquery = '<script src="/lib/jquery/dist/jquery.min.js"><\/script>';
            var bootstrapjs = '<script src="/lib/twitter-bootstrap/js/bootstrap.min.js"><\/script>';



            $("#code").contents().find("head").append(bootstrapcss);
            $("#code").contents().find("head").append(fontawesome);
            $("#code").contents().find("head").append(jquery);
            $("#code").contents().find("head").append(bootstrapjs);
            /*
            head.append(bootstrapcss);
            head.append(fontawesome);
            head.append(jquery);
            head.append(bootstrapjs);
            //$(head).append($("<link/>", { rel: "stylesheet", href: "/lib/font-awesome/css/*.css" , type: "text/css" } ));
            $(head).append($("<script/>", { src: "~/lib/jquery/dist/jquery.min.js"} ));
            // */
        });
    });
    window.setInterval(function () {
        documentChanges();
    }, 5000);

    $("#viewForm").submit(documentChanges);

    function documentChanges() {

        var html = editorHTML.getValue();
        var css = editorCSS.getValue();
        var js = editorJavaScript.getValue();

        $("#Content").val("<style>" + css + "</style>" + html + "<script>" + js + "<\/script>");
        var code = document.getElementById("code").contentWindow.document;
        code.open();
        //code.writeln(html);
        if (html)
            code.writeln(html + "<style>" + css + "</style>" + "<script>" + js + "<\/script>");
        code.close();
    };

</script>